p {
    width: 300px;
    border-width: 5px;
    border-style: solid;
    border-color: #cccccc;
    padding: 20px;
}

/* all corners */
p.one {
    border-radius: 10px;
}

/* leftTop - rightTop - rightBottom - leftBottom */
p.two {
    border-radius: 10px 15px 5px 10px;
}

/* leftTop rightBottom - rightTop leftBottom */
p.three {
    border-radius: 10px 5px;
}
