.container {
    background-color: whitesmoke;
    display: flex;
}

.item-1, .item-2, .item-3 {
    padding: 8px;
}

.item-1, .item-3 {
    background-color: lightgray;
}

/* If we want item-2 pushed to the right, set margin-left to auto. It will force the next items pushed too. */
.item-2 {
    background-color: gray;
    margin-left: auto;
}