/* grid system */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 10px;
    grid-template-areas:
        "full full full full" 
        "fourth1 fourth2 fourth3 fourth4" 
        "half1 half1 half2 half2"
}

.full {
    grid-area: full;
}

.fourth1 {
    grid-area: fourth1;
}

.fourth2 {
    grid-area: fourth2;
}

.fourth3 {
    grid-area: fourth3;
}

.fourth4 {
    grid-area: fourth4;
}

.half1 {
    grid-area: half1;
}

.half2 {
    grid-area: half2;
}

/* tablet media query - grid system */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "full full" 
            "fourth1 fourth2" 
            "fourth3 fourth4" 
            "half1 half1" 
            "half2 half2"
    }
}

/* mobile phone media query - grid system */
@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "full" 
            "fourth1" 
            "fourth2" 
            "fourth3" 
            "fourth4" 
            "half1" 
            "half2"
    }
}
